
cmake-build-*/
build/
build-release/

.idea/
.tmp/
.DS_Store
Thumbs.db

*.exe
*.out
*.o
*.obj
*.a
*.dll
*.so
*.pdb

CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
compile_commands.json


*.log
*.tmp

out/